.bg-info{
  background-color: #6aae7a !important;
}
.bg-info-gradiant{
  background:linear-gradient(to right, #6aae7a 0%, #84cc96 100%);
}
h2,h5,.font-medium a,.text-themecolor{
  color: #6aae7a !important;
}