#fallr-wrapper {
	top: 33% !important;
}
.dataTables_wrapper .dataTables_paginate {
	float: none !important;
	text-align: center !important;
}
.dataTables_paginate a {
	font-size: 13px;
	padding: 2px 10px !important;
}
@media (min-width: 1024px) {
	.page-wrapper {
	  margin-left: 0 !important;
	}
}
@media (min-width: 768px) {
	.mini-sidebar .page-wrapper {
    margin-left: 0 !important;
	}
}

.select-checkbox {
	padding: 5px !important;
	height: 170px;
	margin-top: -10px;
}
.select-checkbox option.all:not(.select-all) {
  color: blue;
}
.select-checkbox option:not(.select-all)::before {
  content: "\2610";
  width: 1.3em;
  text-align: center;
  display: inline-block;
}
.select-checkbox option:not(.select-all):checked::before {
  content: "\2611";
}

/* ------------- Sub menu setting --------------- */

#dropdownMenu2Item .dropdown-menu {
	position: absolute;
	left: -13px !important;
	box-shadow: 0 0 15px #EEE;
	background: #F9F9F9;
	z-index: 30;
}

/* ------------------------- Back to top -------------------------- */

#back-to-top {
  display: inline-block;
  background-color: #443f84;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  position: fixed;
  bottom: 70px;
  right: 20px;
  transition: background-color .3s, opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#back-to-top::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 22px;
  line-height: 46px;
  color: #fff;
}
#back-to-top.show {
  opacity: 0.8;
  visibility: visible;
}

/* --------------------- Ripples effect ----------------------------- */

/* MAD-RIPPLE EFFECT */
.ripple{
  position: absolute;
  top:0; left:0; bottom:0; right:0;
  overflow: hidden;
  -webkit-transform: translateZ(0); /* to contain zoomed ripple */
  transform: translateZ(0);
  border-radius: inherit; /* inherit from parent (rounded buttons etc) */
  pointer-events: none; /* allow user interaction */
          animation: ripple-shadow 0.4s forwards;
  -webkit-animation: ripple-shadow 0.4s forwards;
}
.rippleWave{
  backface-visibility: hidden;
  position: absolute;
  border-radius: 50%;
  transform: scale(0.7); -webkit-transform: scale(0.7);
  background: rgba(255,255,255, 1);
  opacity: 0.45;
          animation: ripple 2s forwards;
  -webkit-animation: ripple 2s forwards;
}
@keyframes ripple-shadow {
  0%   {box-shadow: 0 0 0 rgba(0,0,0,0.0);}
  20%  {box-shadow: 0 4px 16px rgba(0,0,0,0.3);}
  100% {box-shadow: 0 0 0 rgba(0,0,0,0.0);}
}
@-webkit-keyframes ripple-shadow {
  0%   {box-shadow: 0 0 0 rgba(0,0,0,0.0);}
  20%  {box-shadow: 0 4px 16px rgba(0,0,0,0.3);}
  100% {box-shadow: 0 0 0 rgba(0,0,0,0.0);}
}
@keyframes ripple {
  to {transform: scale(24); opacity:0;}
}
@-webkit-keyframes ripple {
  to {-webkit-transform: scale(24); opacity:0;}
}