<div class="row page-titles no-print">
    <div class="col-md-6 col-8 align-self-center">
        <h3 class="text-themecolor m-b-0 m-t-0">{{phrase.desig}}</h3>
    </div>
    <div class="col-md-6 col-4 align-self-center">

    </div>
</div>

<div class="row" ng-show="views.list">
	<div class="col-12">
		<div class="card">
			<div class="card-block">
				<button ng-show="$root.can('desig.add_desig')" ng-click="changeView('add')" class="btn pull-right btn-success card-block-input-item">{{phrase.add_desig}}</button>
				<div class="pull-right card-block-input-group card-block-input-item">
					<div class="input-group input-group-sm">
						<input type="text" name="table_search" ng-model="searchText" placeholder="{{phrase.Search}}" class="form-control input-sm">
						<span class="input-group-addon"><i class="fa fa-search"></i></span>
					</div>
				</div>
				<h4 class="card-title">{{phrase.list_desig}}</h4>
				<div class="table-responsive">

					<table class="table table-bordered table-hover">
						<tbody>
							<tr>
								<th>{{phrase.desig_title}}</th>
								<th>{{phrase.desig_desc}}</th>
								<th style="width:160px;" ng-show="$root.can('desig.edit_desig') || $root.can('desig.del_desig')" >Action</th>
							</tr>
							<tr ng-repeat="designations_one in designations | filter:searchText">
								<td>{{designations_one.desig_title}}</td>
								<td>{{designations_one.desig_desc}}</td>
								<td ng-show="$root.can('desig.edit_desig') || $root.can('desig.del_desig')">
									<button ng-show="$root.can('desig.edit_desig')" ng-click="edit(designations_one.id)" type="button" class="btn btn-info btn-circle" title="{{phrase.Edit}}" ><i class="fa fa-pencil"></i></button>
									<button ng-show="$root.can('desig.del_desig')" ng-click="remove(designations_one,$index)" type="button" class="btn btn-danger btn-circle" title="{{phrase.Remove}}" ><i class="fa fa-trash-o"></i></button>
								</td>
							</tr>
							<tr ng-show="!designations.length"><td class="noTableData" colspan="3">{{phrase.noDataAvailable}}</td></tr>
						</tbody>
					</table>


				</div>
			</div>
		</div>
	</div>
</div>

<div class="row" ng-show="views.add">
	<div class="col-12">
		<div class="card">
			<div class="card-block">
				<button ng-click="changeView('list')" class="btn btn-danger btn-flat pull-right card-block-input-item">Cancel</button>
				<h4 class="card-title">{{phrase.add_desig}}</h4>
				<div>

					<form class="form-horizontal" name="designations_add_form" role="form" ng-submit="saveAdd()" novalidate>
						<div class="form-group row" ng-class="{'has-error': designations_add_form.desig_title.$invalid}">
							<label class="pb-2 pl-3 control-label col-form-label">{{phrase.desig_title}} *</label>
							<div class="col-sm-10">
								<input type="text" name="desig_title" ng-model="form.desig_title" class="form-control" placeholder="{{phrase.desig_title}}" required>
							</div>
						</div>
						<div class="form-group row" >
							<label class="pb-2 pl-3 control-label col-form-label">{{phrase.desig_desc}} </label>
							<div class="col-sm-10">
								<textarea name="desig_desc" class="form-control" ng-model="form.desig_desc" placeholder="{{phrase.desig_desc}}" ></textarea>
							</div>
						</div>
						<div class="form-group m-b-0">
							<div class="offset-sm-2 col-sm-10">
								<button type="submit" class="btn btn-info waves-effect waves-light" ng-disabled="designations_add_form.$invalid">{{phrase.add_desig}}</button>
							</div>
						</div>
					</form>

				</div>
			</div>
		</div>
	</div>
</div>

<div class="row" ng-show="views.edit">
	<div class="col-12">
		<div class="card">
			<div class="card-block">
				<button ng-click="changeView('list')" class="btn btn-danger btn-flat pull-right card-block-input-item">Cancel</button>
				<h4 class="card-title">{{phrase.edit_desig}}</h4>
				<div>

					<form class="form-horizontal" name="designations_edit_form" role="form" ng-submit="saveEdit()" novalidate>
                    						<div class="form-group row" ng-class="{'has-error': designations_edit_form.desig_title.$invalid}">
							<label class="pb-2 pl-3 control-label col-form-label">{{phrase.desig_title}} *</label>
							<div class="col-sm-10">
								<input type="text" name="desig_title" ng-model="form.desig_title" class="form-control" placeholder="{{phrase.desig_title}}" required>
							</div>
						</div>
						<div class="form-group row" >
							<label class="pb-2 pl-3 control-label col-form-label">{{phrase.desig_desc}} </label>
							<div class="col-sm-10">
								<textarea name="desig_desc" class="form-control" ng-model="form.desig_desc" placeholder="{{phrase.desig_desc}}" ></textarea>
							</div>
						</div>
						<div class="form-group m-b-0">
							<div class="offset-sm-2 col-sm-10">
								<button type="submit" class="btn btn-info waves-effect waves-light" ng-disabled="designations_edit_form.$invalid">{{phrase.edit_desig}}</button>
							</div>
						</div>
					</form>

				</div>
			</div>
		</div>
	</div>
</div>
