<div class="row page-titles">
    <div class="col-md-6 col-8 align-self-center">
        <h3 class="text-themecolor m-b-0 m-t-0">Transport Schedules</h3>
    </div>
    <div class="col-md-6 col-4 align-self-center">

    </div>
</div>
<div class="row" ng-show="views.invoice_transport_schedule">
    <div class="col-12">
        <div class="card">
                                <div class="card-header">
                                    <h4 class="m-b-0 text-white">Transport Schedules</h4>
                                </div>
                                <div class="card-block">

                                    <div class="form-group row">
                                        <label class="pb-2 pl-3 control-label col-form-label">Invoice 1</label>
                                        <div class="col-sm-5">
                                            <input type="text" date-picker name="invoice_sc[]" ng-model="invoice_sc" id="datemask" class="form-control datemask" placeholder="Set date">
                                        </div>
										<div class="col-sm-3">
                                            <input type="number" name="months_1" value="1" min="1" max="12"  class="form-control" required placeholder="Months">
                                        </div>
                                    </div>
                                </div>
								<div class="card-block">

                                    <div class="form-group row">
                                        <label class="pb-2 pl-3 control-label col-form-label">Invoice 2</label>
                                        <div class="col-sm-5">
                                            <input type="text" date-picker name="invoice_sc[]" ng-model="invoice_sc" id="datemask" class="form-control datemask" placeholder="Set date">
                                        </div>
										<div class="col-sm-3">
                                            <input type="number" name="months_2" value="1" min="1" max="12"  class="form-control" required placeholder="Months">
                                        </div>
                                    </div>
                                </div>
								<div class="card-block">

                                    <div class="form-group row">
                                        <label class="pb-2 pl-3 control-label col-form-label">Invoice 3</label>
                                        <div class="col-sm-5">
                                            <input type="text" date-picker name="invoice_sc[]" ng-model="invoice_sc" id="datemask" class="form-control datemask" placeholder="Set date">
                                        </div>
										<div class="col-sm-3">
                                            <input type="number" name="months_3" value="1" min="1" max="12"   class="form-control" required placeholder="Months">
                                        </div>
                                    </div>
                                </div>
								<div class="card-block">

                                    <div class="form-group row">
                                        <label class="pb-2 pl-3 control-label col-form-label">Invoice 4</label>
                                        <div class="col-sm-5">
                                            <input type="text" date-picker name="invoice_sc[]" ng-model="invoice_sc" id="datemask" class="form-control datemask" placeholder="Set date">
                                        </div>
										<div class="col-sm-3">
                                            <input type="number" name="months_4" value="1" min="1" max="12"  class="form-control" required placeholder="Months">
                                        </div>
                                    </div>
                                </div>

								<div class="card-block">

                                    <div class="form-group row">
                                        <label class="pb-2 pl-3 control-label col-form-label">Invoice 5</label>
                                        <div class="col-sm-5">
                                            <input type="text" date-picker name="invoice_sc[]" ng-model="invoice_sc" id="datemask" class="form-control datemask" placeholder="Set date">
                                        </div>
										<div class="col-sm-3">
                                            <input type="number" name="months_5" value="1" min="1" max="12"  class="form-control" required placeholder="Months">
                                        </div>
                                    </div>

                                </div>

								<div class="card-block">

                                    <div class="form-group row">
                                        <label class="pb-2 pl-3 control-label col-form-label">Invoice 6</label>
                                        <div class="col-sm-5">
                                            <input type="text" date-picker name="invoice_sc[]" ng-model="invoice_sc" id="datemask" class="form-control datemask" placeholder="Set date">
                                        </div>
										<div class="col-sm-3">
                                            <input type="number" name="months_6" value="1" min="1" max="12"  class="form-control" required placeholder="Months">
                                        </div>
                                    </div>
                                </div>

								<div class="card-block">

                                    <div class="form-group row">
                                        <label class="pb-2 pl-3 control-label col-form-label">Invoice 7</label>
                                        <div class="col-sm-5">
                                            <input type="text" date-picker name="invoice_sc[]" ng-model="invoice_sc" id="datemask" class="form-control datemask" placeholder="Set date">
                                        </div>
										<div class="col-sm-3">
                                            <input type="number" name="months_7" value="1" min="1" max="12"  class="form-control" required placeholder="Months">
                                        </div>
                                    </div>
                                </div>

								<div class="card-block">

                                    <div class="form-group row">
                                        <label class="pb-2 pl-3 control-label col-form-label">Invoice 8</label>
                                        <div class="col-sm-5">
                                            <input type="text" date-picker name="invoice_sc[]" ng-model="invoice_sc" id="datemask" class="form-control datemask" placeholder="Set date">
                                        </div>
										<div class="col-sm-3">
                                            <input type="number" name="months_8" value="1" min="1" max="12"  class="form-control" required placeholder="Months">
                                        </div>
                                    </div>
                                </div>

								<div class="card-block">

                                    <div class="form-group row">
                                        <label class="pb-2 pl-3 control-label col-form-label">Invoice 9</label>
                                        <div class="col-sm-5">
                                            <input type="text" date-picker name="invoice_sc[]" ng-model="invoice_sc" id="datemask" class="form-control datemask" placeholder="Set date">
                                        </div>
										<div class="col-sm-3">
                                            <input type="number" name="months_9"  value="1" min="1" max="12" class="form-control" required placeholder="Months">
                                        </div>
                                    </div>
                                </div>
								<div class="card-block">

                                    <div class="form-group row">
                                        <label class="pb-2 pl-3 control-label col-form-label">Invoice 10</label>
                                        <div class="col-sm-5">
                                            <input type="text" date-picker name="invoice_sc[]" ng-model="invoice_sc" id="datemask" class="form-control datemask" placeholder="Set date">
                                        </div>
										<div class="col-sm-3">
                                            <input type="number" name="months_10"  value="1" min="1" max="12" class="form-control" required placeholder="Months">
                                        </div>
                                    </div>
                                </div><div class="card-block">

                                    <div class="form-group row">
                                        <label class="pb-2 pl-3 control-label col-form-label">Invoice 11</label>
                                        <div class="col-sm-5">
                                            <input type="text" date-picker name="invoice_sc[]" ng-model="invoice_sc" id="datemask" class="form-control datemask" placeholder="Set date">
                                        </div>
										<div class="col-sm-3">
                                            <input type="number" name="months_11"  value="1" min="1" max="12" class="form-control" required placeholder="Months">
                                        </div>
                                    </div>
                                </div><div class="card-block">

                                    <div class="form-group row">
                                        <label class="pb-2 pl-3 control-label col-form-label">Invoice 12</label>
                                        <div class="col-sm-5">
                                            <input type="text" date-picker name="invoice_sc[]" ng-model="invoice_sc" id="datemask" class="form-control datemask" placeholder="Set date">
                                        </div>
										<div class="col-sm-3">
                                            <input type="number" name="months_12" value="1" min="1" max="12"  class="form-control" required placeholder="Months">
                                        </div>
                                    </div>
                                </div>

        </div>
    </div>
</div>
