<style type="text/css">
	#listTable tr td {
		font-size: 13px;
		padding: 5px;
		white-space: normal;
	}
	#listTable tr th {
		font-size: 15px;
		padding: 8px 5px;
	}
	#listTable .options .btn-circle {
		height: 25px;
		width: 25px;
		padding: 3px;
	}
	#view-list-block {
		padding: 15px 10px;
	}
	#view-list-block .search-input {
		margin-bottom: 12px
	}
	.page-titles h3 {
		font-size: 22px;
		text-align: left;
	}
	.tabsItem > li {
		width: 50%;
		text-align: center;
	}
	.selected-data-list .remove-all,
	.selected-data-list .remove-item {
		cursor: pointer;
	}
	ul.list-group > li.list-group-item {
		padding: 7px !important;
	}
	ul.list-group > li.list-group-item small {
		width: 80%;
	}
	.page-titles h3 {
		font-size: 22px;
		text-align: left;
	}
</style>

<div class="row page-titles" style="margin-bottom: -5px;">
    <div class="col-12 align-self-center">
        <h3 class="text-themecolor m-b-0 m-t-0">{{phrase.mobileNotifications}}</h3>
        <!--a href="/portal#" class="btn btn-sm btn-danger" style="position: absolute; right: 15px; top: 3px;">
      		<i class="fa fa-home"></i> Home
      	</a-->
    </div>
</div>

<div class="row" ng-show="views.list" style="margin-bottom: 10px">
    <div class="col-12">
        <div class="card" style="margin-bottom: 0">
            <div class="card-block" id="view-list-block">
                <div class="form">
                    <div>
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs tabsItem" role="tablist">
                            <li class="nav-item" role="presentation" ng-if="dashboardData.role == 'admin' || dashboardData.role == 'teacher'">
                            	<a showtab="" class="nav-link active" href="#sendNotif" aria-controls="sendNotif" role="tab" data-toggle="tab">Send Notifi.</a>
                            </li>
                            <li class="nav-item" role="presentation" >
                            	<a showtab="" class="nav-link"
                            		href="#history" aria-controls="history" role="tab" data-toggle="tab"
                            		ng-class="{'active': dashboardData.role != 'admin' && dashboardData.role != 'teacher'}" >
                            			{{phrase.History}}
                            	</a>
                            </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content tabcontent-border">
                            <div role="tabpanel"
                            	class="tab-pane active p-20"
                            	id="sendNotif"
                            	ng-if="dashboardData.role == 'admin' || dashboardData.role == 'teacher'"
                            	ng-controller="communicationsFilterController"
                            	>
                                <form class="form-horizontal" ng-submit="saveAdd()" name="mailsms" ng-show="sendNewScope == 'form'" novalidate>
                                   	<button type="button" ng-click="linkUser()" class="btn btn-sm btn-success btn-flat">{{phrase.searchUsers}}</button>
                                    <div ng-include="'/assets/js/Angular/includes/communications-filter.html'"></div>
						                        <hr>
                                    <div class="form-group row" ng-class="{'has-error': mailsms.notifData.$invalid}">
                                        <label class="pl-2 pb-2 control-label col-form-label">{{phrase.messageContent}} *</label>
                                        <div class="col-sm-10">
                                            <textarea name="notifData" class="form-control" ng-model="form.notifData" required placeholder="{{phrase.messageContent}}"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group m-b-0">
                                        <div class="">
                                            <button type="submit" class="btn btn-info waves-effect waves-light" ng-disabled="mailsms.$invalid">{{phrase.sendNewNotification}}</button>
                                        </div>
                                    </div>
                                </form>
                                <span ng-show="sendNewScope == 'success'">
                                    message sent successfully
                                </span>
                            </div>
                            <div role="tabpanel"
                            	class="tab-pane p-20" id="history"
                            	ng-class="{'active': dashboardData.role != 'admin' && dashboardData.role != 'teacher'}"
                            	>
                                <div class="card-block-input-group card-block-input-item">
                                    <div class="input-group input-group-sm search-input">
                                        <input type="text"  name="table_search" ng-model="searchText" placeholder="{{phrase.Search}}" class="form-control input-sm">
                                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table id="listTable" class="table table-bordered table-hover">
                                        <tbody>
                                            <tr>
                                                <!-- <th>{{phrase.to}}</th> -->
                                                <th>All notifications</th>
                                                <!-- <th>Action</th> -->
                                            </tr>
                                            <tr dir-paginate="message in messages | filter:searchText | itemsPerPage:10" total-items="totalItems">
                                                <!-- <td>{{message.notifTo}}</td> -->
                                                <td>{{message.notifData}}</td>
                                                <!-- <td class="options">
                                                    <button ng-click="remove(message,$index)" type="button" class="btn btn-danger btn-circle" title="{{phrase.Remove}}" ><i class="fa fa-trash-o"></i></button>
                                                </td> -->
                                            </tr>
                                            <tr ng-show="!messages.length"><td class="noTableData" colspan="6">{{phrase.noMessages}}</td></tr>
                                        </tbody>
                                    </table>
                                    <dir-pagination-controls on-page-change="loadNotifications(newPageNumber)" template-url="assets/templates/dirPagination.html" ></dir-pagination-controls>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <modal visible="searchUsers">
		  <div class="row">
		      <div class="col-12 mb-3">
		          <input type="text" class="form-control" id="searchKeyword" placeholder="{{phrase.typeNameUserMail}}">
		      </div>
		      <div class="col-12">
		          <button type="button" ng-click="searchUserButton()" class="btn btn-danger btn-flat">{{phrase.searchUsers}}</button>
		      </div>
		  </div>
		  <div class="row">
		      <div class="col-md-12" style="padding-top:10px;">
		          <div class="box-body table-responsive">
		              <table class="table table-bordered">
		                  <tbody>
		                      <tr ng-repeat="user in searchResults">
		                          <td>{{user.name}} - {{user.role}}</td>
		                          <td>{{user.email}}</td>
		                          <td class="no-print">
		                              <button type="button"
		                              	ng-click="linkStudentFinish(user)"
		                              	class="btn btn-success btn-flat">{{phrase.select}}</button>
		                          </td>
		                      </tr>
		                  </tbody>
		              </table>
		          </div>
		      </div>
		  </div>
		</modal>
</div>

<modal visible="showModalLink">
	<div class="row">
	    <div class="col-md-9">
	        <input type="text" class="form-control" id="searchLink" placeholder="{{phrase.typeNameUserMail}}">
	    </div>
	    <div class="col-md-2">
	        <button type="button" ng-click="linkStudentButton()" class="btn btn-danger btn-flat">{{phrase.Search}}</button>
	    </div>
	</div>
	<div class="row">
	    <div class="col-md-12" style="padding-top:10px;">
	        <div class="box-body table-responsive">
	            <table class="table table-bordered">
	                <tbody>
	                    <tr ng-repeat="userOne in searchResults">
	                        <td>{{userOne.name}} ({{userOne.role}})</td>
	                        <td>{{userOne.email}}</td>
	                        <td class="no-print">
	                            <button type="button" ng-click="linkStudentFinish(userOne)" class="btn btn-success btn-flat">{{phrase.select}}</button>
	                        </td>
	                    </tr>
	                </tbody>
	            </table>
	        </div>
	    </div>
	</div>
</modal>