<div class="row page-titles">
    <div class="col-md-6 col-8 align-self-center">
        <h3 class="text-themecolor m-b-0 m-t-0">{{phrase.Vacation}}</h3>
    </div>
    <div class="col-md-6 col-4 align-self-center">

    </div>
</div>

<div class="row" ng-show="views.list">
    <div class="col-12">
        <div class="card" style="margin-bottom: 0">
            <div class="card-block" id="view-list-block">
                <h4 class="card-title">{{phrase.selectVacationDates}}</h4>
                <div class="form">

                    <form class="form-horizontal" ng-submit="getVacation()" name="vacation" novalidate>
                        <div class="form-group row" style="z-index: 999999999;" ng-class="{'has-error': vacation.fromDate.$invalid}">
                            <label class="pb-2 pl-3 control-label col-form-label">{{phrase.from}} *</label>
                            <div class="col-sm-10">
                                <input type="text" date-picker name="fromDate" ng-model="form.fromDate" id="datemask" class="form-control datemask" required>
                            </div>
                        </div>
                        <div class="form-group row" style="z-index: 999999999;" ng-class="{'has-error': vacation.toDate.$invalid}">
                            <label class="pb-2 pl-3 control-label col-form-label">{{phrase.to}} *</label>
                            <div class="col-sm-10">
                                <input type="text" date-picker name="toDate" ng-model="form.toDate" id="datemaskEdit" class="form-control datemask" required>
                            </div>
                        </div>
                        <div class="form-group row m-b-0">
                            <div class="offset-sm-2 col-sm-10">
                                <button type="submit" class="btn btn-info waves-effect waves-light m-t-10" ng-disabled="vacation.$invalid">{{phrase.getVacation}}</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" ng-show="views.lists">
    <div class="col-12">
        <div class="card">
            <div class="card-block">
                <button ng-click="changeView('list')" class="btn btn-sm pull-right btn-danger card-block-input-item">Back</button>
                <h4 class="card-title">{{phrase.confirmVacation}}</h4>
                <div class="form">

                    <form class="form-horizontal" ng-submit="confirmVacation()" name="form" novalidate>
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <th>{{phrase.Date}}</th>
                                    <th>{{phrase.notes}}</th>
                                </tr>
                                <tr ng-repeat="date in vacation">
                                    <td>{{date.date}}</td>
                                    <td>
                                        <span ng-show="date.status == 'dow'">{{phrase.weeksDaysOff}}</span>
                                        <span ng-show="date.status == 'offv'">{{phrase.nationalVacDays}}</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <br/>
                        <div lass="form-group row">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-info btn-default">{{phrase.confirmVacation}}</button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" ng-show="views.list_approve">
    <div class="col-12">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">{{phrase.appVacation}}</h4>
                <div class="form">

                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th>{{phrase.user}}</th>
                                <th>{{phrase.role}}</th>
                                <th>{{phrase.Date}}</th>
                                <th>Action</th>
                            </tr>
                            <tr ng-repeat="request in vacation_requests">
                                <td>
                                    <img alt="{{request.fullName}}" class="user-image img-circle" style="width:35px; height:35px;" ng-src="{{'index.php/dashboard/profileImage/'+request.userid}}">
                                    <a href="" ng-click="studentProfile( request.userid )">{{request.fullName}} - {{request.email}}</a>
                                </td>
                                <td>{{request.role}}</td>
                                <td>{{request.vacDate}}</td>
                                <td>
                                    <button type="button" ng-click="approveVacation(request.id,1,$index)" class="btn btn-info btn-default">{{phrase.acceptedVacation}}</button>
                                    <button type="button" ng-click="approveVacation(request.id,0,$index)" class="btn btn-danger btn-default">{{phrase.rejectedVacation}}</button>
                                </td>
                            </tr>
                            <tr ng-show="!vacation_requests.length"><td class="noTableData" colspan="4">{{phrase.noDataAvailable}}</td></tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" ng-show="views.list_mine">
    <div class="col-12">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">{{phrase.myVacation}}</h4>
                <div class="form">

                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th>{{phrase.Date}}</th>
                                <th>{{phrase.Status}}</th>
                            </tr>
                            <tr ng-repeat="request in my_requests">
                                <td>{{request.vacDate}}</td>
                                <td>
                                    <span style="color:green;" ng-show="request.acceptedVacation == '1'">{{phrase.acceptedVacation}}</span>
                                    <span style="color:red;" ng-show="request.acceptedVacation == '0'">{{phrase.rejectedVacation}}</span>
                                    <span ng-show="request.acceptedVacation == '-1'">{{phrase.waitAction}}</span>
                                </td>
                            </tr>
                            <tr ng-show="!my_requests.length"><td class="noTableData" colspan="4">{{phrase.noDataAvailable}}</td></tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

