<style type="text/css">
	.page-titles h3 {
		font-size: 22px;
		text-align: left;
	}
	.pdf-view {
		position: relative;
    width: 100%;
    padding: 0;
    top: -5px;
    left: 0px;
    z-index: 500;
	}
	.pdf-view iframe {
		width: 100%;
		height: calc(100% - 62px);
		border: 0;
	}
	.pdf-view img {
		width: 100%;
	}
</style>

<div class="row page-titles" style="margin-bottom: -5px;">
    <div class="col-12 align-self-center text-center">
        <!-- <h3 class="text-themecolor m-b-0 m-t-0">Vision 2020</h3> -->
        <a href="https://payments.cutebrains.com/sxddonations/donate.html?user_id={{userId}}" data-ripple
        	class="btn btn-primary btn-lg">
        	Donate here for Vision 2020
        </a>
        <!--a href="/portal#" class="btn btn-sm btn-danger" style="position: absolute; right: 15px; top: 3px;">
      		<i class="fa fa-home"></i> Home
      	</a-->
    </div>
</div>

<div id="viewList" class="row">
	<div class="col-12 pdf-view">
		<img src="assets/images/vision-2020/1.jpg">
		<img src="assets/images/vision-2020/2.jpg">
		<img src="assets/images/vision-2020/3.jpg">
		<img src="assets/images/vision-2020/4.jpg">
		<img src="assets/images/vision-2020/5.jpg">
		<img src="assets/images/vision-2020/6.jpg">
		<!-- <iframe src="/preview-vision-2020"></iframe> -->
	</div>
</div>